<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GhostLauncher.Client.BL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GhostLauncher.Client.BL.Properties.Settings>
            <setting name="ConfigDirectory" serializeAs="String">
                <value>Config</value>
            </setting>
            <setting name="ConfigFileName" serializeAs="String">
                <value>config.xml</value>
            </setting>
            <setting name="VersionsFileName" serializeAs="String">
                <value>versions.json</value>
            </setting>
        </GhostLauncher.Client.BL.Properties.Settings>
    </userSettings>
</configuration>