<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GhostLauncher.Client.BL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GhostLauncher.Client.BL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GhostLauncher.Client.BL.Properties.Settings>
            <setting name="ConfigDirectory" serializeAs="String">
                <value>config/</value>
            </setting>
            <setting name="ConfigFileName" serializeAs="String">
                <value>config.xml</value>
            </setting>
            <setting name="InstanceFileName" serializeAs="String">
                <value>instance.xml</value>
            </setting>
            <setting name="Cache" serializeAs="String">
                <value>cache/</value>
            </setting>
        </GhostLauncher.Client.BL.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GhostLauncher.Client.BL.Properties.Settings>
            <setting name="VersionsFileName" serializeAs="String">
                <value>versions.json</value>
            </setting>
            <setting name="VersionsDownloadUrl" serializeAs="String">
                <value>https://s3.amazonaws.com/Minecraft.Download/versions/versions.json</value>
            </setting>
        </GhostLauncher.Client.BL.Properties.Settings>
    </applicationSettings>
</configuration>